.carousel-inner img {
    height: 300px; /* Set a fixed height for all carousel images */
    object-fit: cover; /* Ensure images cover the area */
}
.c{
    padding-bottom: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 500px; /* Set a fixed height for all carousel images */
    object-fit: cover; /* Ensure images cover the area */
}
.c{
    padding-bottom: 20px;
    background-color: whitesmoke;

}
.carousel{
    width: 100%;
    height: 500px;
    overflow: hidden;

}
.row1{
    width: 100%;
    --bs-gutter-x: 0rem;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);

}
.row{
    background-color: #007bff;
    --bs-gutter-x: 0rem;
    width: 95%;
    margin-left: 40px;
    border: #007bff;
    border-radius: 20px;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);


}
.col-md-4{
    width: 300px;
    margin:30px;
    margin-left: 70px;
    
}
.card{
    background-color: #007bff; /* Change this to your desired hover color */
    border-color: #007bff;
   
}
.card:hover{
    background-color: whitesmoke; /* Change this to your desired hover color */
    transition: background-color 0.3s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.btn{
    background-color: #007bff;
    border-color:#007bff;
}